@model IEnumerable<ResumeManagement.Models.BaiDangTuyenDung>

@{
    ViewBag.Title = "JobPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách công việc</h2>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="~/Content/StyleForIndex.css" rel="stylesheet" />

<p>
    <button type="button" class="btn btn-outline-primary" onclick="window.location.href='@Url.Action("Create")'">Create New</button>
</p>
<style>
    .table1 {
        width: 100%;
        
    }

        .table1 th,
        .table1 td {
            padding: -0.25rem !important;
            width: auto;
            height: 100px;
        }
</style>
<table class="table1 table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TieuDe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaCongTy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaNhanVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayTao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiCongViec)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TieuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaCongTy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNhanVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiCongViec)
            </td>
            <td>
                <button type="button" class="btn btn-outline-primary" onclick="window.location.href='@Url.Action("Edit", new { id = item.MaBaiDang })'">Edit</button>
                <button type="button" class="btn btn-outline-secondary" onclick="window.location.href='@Url.Action("Details", new { id = item.MaBaiDang })'">Details</button>
                <button type="button" class="btn btn-outline-danger" onclick="window.location.href='@Url.Action("Delete", new { id = item.MaBaiDang })'">Delete</button>
            </td>
        </tr>
    }
</table>
