@model IEnumerable<ResumeManagement.Models.NguoiDung>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách người dùng</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenDangNhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BangCap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiemTotNghiep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LinhVucLamViec)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KinhNghiem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuocGia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenDangNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoDienThoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BangCap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiemTotNghiep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LinhVucLamViec)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KinhNghiem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuocGia)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.MaNguoiDung }) 
        </td>
    </tr>
}

</table>
